div#game {
    width: 100%;
    min-height: 100%;
    filter: opacity(1);
    transition: filter 1s;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

div#playerDiv {
    width: 100%;
    height: 48vh;
    display: flex;
    margin-top: 2vh;
    flex: 0 0 auto;
}

div.player {
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
    flex: 0 1 auto;
    text-align: center;
}

h1.playerName {
    font-size: 3vh;
    text-align: center;
}

h2.points {
    font-size: 2.5vh;
    text-align: center;
    margin-bottom: 1vh;
    display: inline;
}

h2.points + button {
    padding: 0.25vh 1vh;
    margin-left: 1vh;
    background-color: var(--highlightColor);
    font-size: 2vh;
    text-align: center;
    color: white;
    border: none;
}

h2.points + button:hover {
    background-color: var(--highlightColorLight);
    transition: 0.2s;
    cursor: pointer;
}

h2.points + button:active {
    background-color: var(--highlightColorDark);
}

div.player.turn h1.playerName, div.player.turn h2.points {
    color: var(--highlightColorLight);
}

div.stack {
    margin-top: 1vh;
    width: 100%;
    height: 80%;
    position: relative;
}

.card {
    border-radius: 12.5% / 8%;
}

.cardH {
    border-radius: 8% / 12.5%;
}

img.placeholderCard {
    max-height: 100%;
    max-width: 100%;
    visibility: hidden;
}

div#deckDiv, div#rankingDiv {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    filter: none;
}

div#deckDiv.hidden, div#rankingDiv.hidden {
    filter: opacity(0);
    transition: 0.5s;
}

div#deckDiv h2 {
    font-size: 3vh;
    flex: 0 0 auto;
}

img#deck {
    flex: 0 0 auto;
    margin-bottom: 3vw;
}

img.cardBack {
    position: absolute;
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

div.dynamic {
    position: absolute;
    transform-origin: 50% 50%;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

div.cardFront {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    transition: 0.25s;
}

div.cardFront p {
    color: black;
    font-weight: bold;
    text-align: center;
    margin: 0 10%;
}

div.cardFront *:first-child {
    transform: rotate(180deg);
}

div.cardFront img.symbol {
    width: 40%;
    margin: 0 30%;
}

div.cardFront.slideUp {
    filter: opacity(0);
    transform: translateY(-50%);
}

div.cardFront.slideDown {
    filter: opacity(0);
    transform: translateY(50%);
}

div#rankingDiv h2 {
    font-size: 5vh;
}

ol#ranking {
    text-align: center;
}

ol#ranking li {
    font-size: 3.5vh;
}

ol#ranking li:nth-child(1) {
    font-size: 5vh;
    color: gold;
}

ol#ranking li:nth-child(2) {
    font-size: 4.5vh;
    color: silver;
}

ol#ranking li:nth-child(3) {
    font-size: 4vh;
    color: #cf7b20;
}

button.quit {
    padding: 1vh 2vh;
    background-color: var(--highlightColor);
    font-size: 5vh;
    text-align: center;
    color: white;
    border: none;
    position: absolute;
    left: 2vh;
    bottom: 2vh;
}

button.quit:hover {
    background-color: var(--highlightColorLight);
    transition: 0.2s;
    cursor: pointer;
}

button.quit:active {
    background-color: var(--highlightColorDark);
}