@font-face {
    font-family: Montserrat;
    src: url("montserrat/Montserrat-Regular.otf");
}

@font-face {
    font-family: Montserrat;
    font-weight: bold;
    src: url("montserrat/Montserrat-Bold.otf");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    outline: none;
}

*[id$="Template"] {
    display: none !important;
}

:root {
    --backgroundColor: black;
    --textColor: white;
    --highlightColor: darkblue;
    --highlightColorLight: blue;
    --highlightColorDark: #000050;
    --highlightTextColor: white;
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    background-image: none;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}


div#titleScreen, div#settings, div#instructions, div#about {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter: opacity(1);
    transition: filter 1s;
    overflow-y: auto;
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
}

.fadeIn {
    animation-name: fadeOut;
    animation-duration: 0.25s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
    filter: opacity(0);
}

@keyframes fadeOut {
    from {filter: opacity(1);}
    to {filter: opacity(0);}
}

div#titleScreen h1 {
    font-size: 10vw;
    margin-bottom: 3vh;
}

div#titleScreen button {
    color: var(--highlightTextColor);
    border: none;
    background-color: var(--highlightColor);
    font-size: 3vw;
    padding: 1vw 2vw;
    margin: 1vw 0;
}

div#titleScreen button:hover {
    background-color: var(--highlightColorLight);
    cursor: pointer;
    transition: 0.2s;
}

div#titleScreen button:active {
    background-color: var(--highlightColorDark);
}

div#titleScreen button#play {
    font-size: 4vw;
    font-weight: bold;
}

button.returnToTitle {
    color: var(--highlightTextColor);
    border: none;
    background-color: var(--highlightColor);
    font-size: 2.5vw;
    padding: 1vw 2vw;
    margin: 3vw 0;
}

button.returnToTitle:hover {
    background-color: var(--highlightColorLight);
    cursor: pointer;
    transition: 0.2s;
}

button.returnToTitle:active {
    background-color: var(--highlightColorDark);
}

div#instructions p {
    font-size: 2.5vh;
    width: 80vw;
    margin-bottom: 3vw;
    text-align: justify;
}

div#instructions q {
    font-size: 2.5vh;
    width: 80vw;
    margin-bottom: 3vw;
    font-style: italic;
    text-align: center;
}

div#settings fieldset {
    margin-top: 1vw;
    text-align: center;
    padding: 0 0 1vw;
    width: 85%;
    border-color: var(--highlightColorLight);
}

div#settings fieldset legend {
    font-size: 2.5vw;
    color: var(--highlightColor);
    font-weight: bold;
}

div#settings fieldset h2 {
    font-size: 2vw;
    margin-top: 1vw;
    color: var(--highlightColor);
}

div#playerInputDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

div.playerInput input {
    font-size: 1.5vw;
    text-align: center;
    padding: 0.25vw 0;
    width: 10vw;
    margin: 0.25vw 0.25vw;
}

div#addPlayersDiv {
    padding: 1vw 0;
}

div#addPlayersDiv button {
    color: var(--highlightTextColor);
    border: none;
    line-height: 1;
    background-color: var(--highlightColor);
    font-size: 3vw;
    padding: 0 2vw;
}

div#addPlayersDiv button:hover:not(:disabled) {
    background-color: var(--highlightColorLight);
    transition: 0.2s;
}

div#addPlayersDiv button:active:not(:disabled) {
    background-color: var(--highlightColorDark);
}

div#addPlayersDiv button:disabled {
    filter: opacity(0.5);
}

div#symbolsDiv {
    font-size: 0;
}

div#symbolsDiv input {
    display: none;
}

div#symbolsDiv label {
    display: inline-block;
    text-align: center;
    font-size: 2vw;
    background-color: var(--highlightColor);
    color: var(--highlightTextColor);
    padding: 0.25vw;
    width: 5vw;
}

div#symbolsDiv input:checked + label {
    background-color: var(--highlightColorDark);
}

div#symbolsDiv label:hover {
    background-color: var(--highlightColorLight);
    cursor: pointer;
    transition: 0.2s;
}

div#symbolsDiv label:active {
    background-color: var(--highlightColorDark);
}

img.symbolPreview {
    height: 3vw;
    margin: 1vw 0.5vw 0;
}

div#settings p {
    font-size: 1.5vw;
    margin-bottom: 1vw;
}

div#settings select {
    cursor: pointer;
    margin-bottom: 1vw;
    padding: 0.5vw;
    font-size: 2vw;
    color: white;
    background-color: var(--highlightColor);
    border: none;
}

div#settings select option {
    cursor: pointer;
}

textArea#customCategoriesField {
    font-size: 1.5vw;
    text-align: center;
    vertical-align: middle;
    overflow-y: auto;
    resize: none;
    width: 75%;
    height: 0;
    transition: 0.5s;
    display: block;
    margin: auto;
    border: none;
    padding: 0 2vw;
    box-sizing: border-box;
}

textArea#customCategoriesField.expanded {
    height: 15vw;
    transition: 0.5s;
}

input#cardsNum {
    width: 40vw;
}

label#cardsNumLabel {
    display: inline-block;
    font-size: 2vw;
    width: 5vw;
}

div#layoutDiv {
    font-size: 0;
}

div#layoutDiv input {
    display: none;
}

div#layoutDiv label {
    display: inline-block;
    text-align: center;
    font-size: 2vw;
    background-color: var(--highlightColor);
    color: var(--highlightTextColor);
    padding: 0.25vw;
    width: 10vw;
}

div#layoutDiv input:checked + label {
    background-color: var(--highlightColorDark);
}

div#layoutDiv label:hover {
    background-color: var(--highlightColorLight);
    cursor: pointer;
    transition: 0.2s;
}

div#layoutDiv label:active {
    background-color: var(--highlightColorDark);
}

div#about p {
    margin-bottom: 2vh;
    font-size: 3vh;
    text-align: center;
}

div#about a {
    color: var(--highlightColorLight);
    transition: 0.15s;
    text-decoration: none;
}

div#about a:hover {
    text-decoration: underline;
}